body {
    background-color: antiquewhite;
}

.box-two {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.container-bottom-right {
    background-color: aquamarine;
    width: 800px;
    height: 400px;
    border-radius: 0 0 200px 0;
}

.container-bottom-left {
    background-color: hotpink;
    width: 500px;
    height: 400px;
    border-radius: 0 0 0 200px;
}

.container-all-round {
    background-color: azure;
    width: 1300px;
    height: 600px;
    margin: 0 auto;
    border-radius: 500px;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.container-box {
    background-color: black;
    width: 650px;
    height: 400px;
}
